.card{
    width: 18rem;
}
.modal h5{
    font-weight: 600;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.modal-body{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}